.container {
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: #333333;
    .select-file {
      display: flex;
      justify-content: center;
      .check{
        color: green;
      }
    }
    .send-file{
      display: flex;
      justify-content: center;
    }
    .input-file{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .input-file + label {
      font-size: 1.25em;
      font-weight: 700;
      color: white;
      background-color: #333333;
      display: inline-block;
      cursor: pointer;
    }
    .input-file + label:hover {
      background-color: coral;
    }
  }
  .no-gif{
    display: flex;
    justify-content: center;
  }
  .cards {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  }
  
}